boto3==1.26.11
parliament-functions==0.1.0
pymongo==4.3.3
fastapi==0.88.0
motor==3.1.1
uvicorn==0.20.0
Django==4.0.8
psycopg2==2.9.5
django-environ==0.10.0
requests==2.28.1
django-allauth==0.51.0
whitenoise==6.2.0
m3u8==3.4.0
gunicorn==20.1.0
