{% extends 'index.html' %}

{% load static %}

{% block extra_head %}
<link href="{% static 'video-js-7.21.1/video-js.min.css' %}" rel="stylesheet" />
<link href="{% static 'videojs-hls-quality-selector-1.1.4/videojs-hls-quality-selector.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden m-md-2 text-center">
    <div class="container-lg">
        <div data-vjs-player="true">
            <video-js id="my-player" class="video-js vjs-big-play-centered vjs-workinghover vjs-v7">
                <source src="{{ video.hlsUrl }}" type="application/x-mpegURL">
            </video-js>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static 'video-js-7.21.1/video.min.js' %}"></script>
<script src="{% static 'videojs-contrib-quality-levels-3.0.0/videojs-contrib-quality-levels.min.js' %}"></script>
<script src="{% static 'videojs-hls-quality-selector-1.1.4/videojs-hls-quality-selector.min.js' %}"></script>
<script>
    var player = videojs('my-player', {
        controls: true,
        fluid: true
    });

    player.hlsQualitySelector();
</script>
{% endblock %}